
body{
    
    font-family: 'Helviteca' sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;

    
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}


.header{
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}




.nav_links{
    cursor: pointer;
    color:#fff;
    text-decoration: none;
    opacity: .75;
    transition: 0.2s linear;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 700;
}


.nav_links:hover{
    opacity: 1;
    
}

.nav_links:first-child{
    margin-left: 0px;
}


.position{
    position: relative;
    max-width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    border-bottom: 1px solid rgb(90, 63, 63);
    align-items: center;
}

.intro{
    
    margin-top: -350px;
    height: 800px;
    background-image: url("headerimg/header.jpg");
    width: 100%;
    background-size: cover;
    

    
    
   
}


.p1{
    margin-left: 20px;
    margin-bottom: 360px;
}
.p2{
    font-family: 'Helviteca' sans-serif;
    font-size: 55px;
    color: blanchedalmond;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 300px;
    margin-bottom: 360px;
}
.p3{
    font-family: 'Helviteca'sans-serif ;
    font-size: 25px;
    color: blanchedalmond;
    margin-top: -30px;
    text-transform: capitalize;
    font-weight: 400;
    text-align:center ;
    margin-right: 330px;
    margin-bottom: 350px;

}

.FIND_OUT_MORE{
    cursor: pointer;
    margin-right: 25px;
    margin-top: -50px;
    width: 170px;
    height: 50px;
    background-color: #df2323d3;
    color: white;
    font-weight: 500;
    font-family: 'Arial' sans-serif;
    font-size: 19px;
    border-style: none;
    border-radius: 10px;
    transition: background 0.1s linear;
    
    
    
}
.FIND_OUT_MORE:hover{

    background-color: #b41212;
    color:rgb(209, 176, 152)
}



                                                        /*THE FIRST WORK*/



.works{
    margin-left: -80px;
    display: flex;
    margin-top: 120px;
    height: 500px;
}
.works2{
    margin-left: -80px;
    display: flex;
    margin-top: -250px;
    height: 500px;
}


.img__pencil{
    margin-left: 150px;
}

.pencil{
    margin-top: 5px;
    margin-left: 100px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
 }

.work1{
    width: 400px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

.description__pencil{
    margin-left: -15px;
    text-align: center;
    color: teal;
    font-family: Arial sans-serif;
    font-size: 15px;

}
                                                 /*THE SECOND WORK*/
                                                 



.img__monitor{
    margin-left: 130px;
}

.monitor{
    margin-top: 5px;
    margin-left: 84px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
 }

.work2{
    width: 400px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

.description__monitor{
    margin-left: -25px;
    text-align: center;
    color: teal;
    font-family: Arial sans-serif;
    font-size: 15px;

}

                                                 /*THE THERID WORK*/


                                                 

.img__lamp{
    margin-left: 135px;
}

.lamp{
    margin-top: 5px;
    margin-left: 100px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
 }

.work3{
    width: 400px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.description__lamp{
    margin-left: -25px;
    text-align: center;
    color: teal;
    font-family: Arial sans-serif;
    font-size: 15px;

}                   

.atom{
    margin-top: 5px;
    margin-left: 132px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.backpack{
    margin-top: 5px;
    margin-left: 99px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.cloud{
    margin-top: 5px;
    margin-left: 70px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    
}
.img__backpack{
    margin-top: 5px;
    margin-left: 125px;
    font-family: Arial sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}


.works_images1{
    cursor: pointer;
    display: flex;
    margin-top: -70px;
    margin-left: -1px;
    width: 810px;
    height: 244px;
    cursor: pointer;
    transition: 0.2s linear;
    
    

}
.works_images3{
    cursor: pointer;
    display: flex;
    margin-top: -70px;
    margin-left: -1px;
    width: 810px;
    height: 244px;
    cursor: pointer;
    transition: 0.2s linear;
    

}

.works_images{
    cursor: pointer;
    display: flex;
    margin-top: 0px;
    margin-left: -1px;
    width: 810px;
    height: 244px;
    transition: 0.2s linear;
    
}
.works_images3:hover{
transform: scale(1.04, 1.04);
}

                                       /*=================WORKERS==================*/

.portfolio{
    cursor: default;
    margin-top: 90px;
    display: flex;
    margin-left: 115px;
    margin-bottom: 140px;
}            
.portfolio1{
    margin-left: 60px;
    
}    
.portfolio_image{
    width: 205px;
    height: 205px;
}      
.portfolio_name{
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-size: 17px;
    color: rgb(49, 32, 32);
    font-weight: bolder;
}              
.portfolio_job{
    font-size: 12px;
    margin-top: 3px;
    text-transform: uppercase;
    font-weight: bolder;
    color: tomato;
}   
.portfolio_descriptoin{
    margin-top: 10px;
    width: 208px;
    font-family: arial, sans-serif;
    font-style: normal;
    font-size: 15px;

    
}
.portfolio_links{
    align-items: center;
    text-align:center ;
    margin-top: 20px;
    display: flex;
}
.facebook, .instagram, .twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-color: #ebebeb;
    border-width: 1px;
    border-style: solid;
    
}
.seti_inst, .seti_twit, .seti_face{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-bottom: -5px;
    transition: 0.2s linear;
    opacity: .7;
    
}

.seti_inst:hover, .seti_face:hover, .seti_twit:hover{
    background-color: wheat;
    opacity: 1;
    
    
}
                                     /*=================COMENTS==================*/

.comments_p{
    display: flex;
    height: 342px;
    width: 100%;
    background-color: #344753;
    
}   
.comment_text{
    cursor: default;
    margin-left: 70px;
    margin-top: 40px;
    font-family: 'Times New Roman' serif;
    font-style:italic;
    text-justify:auto;
    line-height: -3px;
    font-size: 25px;
    color: lightcyan;
    font-weight: normal;
    

}           

.comment_author{
    cursor: default;
    margin-top: 20px;

    font-family: 'Times New Roman' serif;
    font-style: normal;
    text-justify:auto;
    line-height: -3px;
    font-size: 25px;
    color: rgb(231, 207, 207);
    font-weight: bolder;
    

}                       

.input{
    padding-right: 30px;
    margin-left: 20px;
    font-family: arial, sans-serif;
    font-style: normal;
    font-size: 25px;
    text-transform: lowercase;
    cursor: pointer;
    
}
